<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}TaskFlow{% endblock %}
    </title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<nav>

    <h2>📝 TaskFlow</h2>

    <div>

        <a href="/">Home</a>

        {% if session.get("user_id") %}

            <a href="/dashboard">Dashboard</a>

            <a href="/profile">Profile</a>

            <a href="/logout">Logout</a>

        {% else %}

            <a href="/login">Login</a>

            <a href="/register">Register</a>

        {% endif %}

    </div>

</nav>

{% with messages = get_flashed_messages(with_categories=true) %}

    {% if messages %}

        {% for category, message in messages %}

            <div class="flash {{ category }}">
                {{ message }}
            </div>

        {% endfor %}

    {% endif %}

{% endwith %}


<main class="container">

    {% block content %}

    {% endblock %}

</main>


<footer>

    <p>

        Built with ❤️ using Flask & SQLite

    </p>

    <p>

        © 2026 Hanin Atwi

    </p>

</footer>

</body>

</html>