{% extends "base.html" %}

{% block title %}
Edit Task
{% endblock %}

{% block content %}

<div class="task-form">

    <h2>Edit Task</h2>

    <form method="POST">

        <label>Task Title</label>

        <input
            type="text"
            name="title"
            value="{{ task.title }}"
            required
        >

        <label>Description</label>

        <textarea
            name="description"
            rows="5"
        >{{ task.description }}</textarea>

        <label>Due Date</label>

        <input
            type="date"
            name="due_date"
            value="{{ task.due_date.strftime('%Y-%m-%d') if task.due_date else '' }}"
        >

        <label>Priority</label>

        <select name="priority">

            <option value="High"
                {% if task.priority == "High" %}selected{% endif %}>
                🔴 High
            </option>

            <option value="Medium"
                {% if task.priority == "Medium" %}selected{% endif %}>
                🟡 Medium
            </option>

            <option value="Low"
                {% if task.priority == "Low" %}selected{% endif %}>
                🟢 Low
            </option>

        </select>


        <label>Category</label>

        <select name="category">

            <option value="Study"
                {% if task.category == "Study" %}selected{% endif %}>
                📚 Study
            </option>

            <option value="Work"
                {% if task.category == "Work" %}selected{% endif %}>
                💼 Work
            </option>

            <option value="Personal"
                {% if task.category == "Personal" %}selected{% endif %}>
                🏠 Personal
            </option>

            <option value="Health"
                {% if task.category == "Health" %}selected{% endif %}>
                ❤️ Health
            </option>

            <option value="Shopping"
                {% if task.category == "Shopping" %}selected{% endif %}>
                🛒 Shopping
            </option>

            <option value="Other"
                {% if task.category == "Other" %}selected{% endif %}>
                🎯 Other
            </option>

        </select>

        <button type="submit">
            Save Changes
        </button>

    </form>

</div>

{% endblock %}