{% extends "base.html" %}

{% block title %}
Register
{% endblock %}

{% block content %}

<h1>Create Account</h1>

<form method="POST">
     {{ form.hidden_tag() }}
    <label>Name</label>
    <input 
        type="text" 
        name="name"
        placeholder="Your name"
        required
    >

    <label>Email</label>
   <input
    type="email"
    name="email"
    placeholder="example@email.com"
    required
    >

    <label>Password</label>
    <input 
        type="password"
        name="password"
        placeholder="Password"
        required
    >

    <small class="password-hint">
    Password must contain:
    <ul>
        <li>At least 8 characters</li>
        <li>One uppercase letter</li>
        <li>One lowercase letter</li>
        <li>One number</li>
        <li>One special character</li>
    </ul>
    </small>

    <button type="submit">
        Create Account
    </button>

</form>

<div class="account-link">

    <p>
        Already have an account?
        <a href="/login">
            Login here
        </a>
    </p>

</div>

{% endblock %}