{% extends "base.html" %}

{% block title %}
Register
{% endblock %}

{% block content %}

<h1>Create Account</h1>

<form method="POST">

    <label>Name</label>
    <input 
        type="text" 
        name="name"
        placeholder="Your name"
        required
    >

    <label>Email</label>
    <input 
        type="email" 
        name="email"
        placeholder="Email"
        required
    >

    <label>Password</label>
    <input 
        type="password"
        name="password"
        placeholder="Password"
        required
    >

    <button type="submit">
        Create Account
    </button>

</form>

{% endblock %}